.hourly__container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom: 20px;
    width: 100%;
}

@media screen and (max-width: 1650px) {
    .hourly__container{
        flex-wrap: wrap;
    }
  }