.main__container{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 20px;
}
.divInput{
    margin: 20px auto;
    width: 60%;
}

@media screen and (max-width: 1320px) {
    .main__container{
        flex-wrap: wrap;
    }
  }